.chapter-page {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 16px;
    padding: 18px;
}

.chap-btns-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.chap-btns-div p{
    padding: 4px;
}